.large {
	height: 400px;
}

.medium {
	height: 350px;
}

.small {
	height: 300px;
}

.header {
	background: #0078ae;
	height: 200px;
}

.header h1 {
	margin: 0px;
	font-size: 60px;
	color: white;
	padding-top: 50px;
}

.pizzarep img {
	height: 200px;
}