.col-md-12.header
  .pizzarep.pull-left
    %img{src: '/assets/pizzarep.png'}
  .text-center 
    %h1= 'How Much Pizza?'

    %h4
      Don't know how to
      %i slice 
      and dice your order? With Howmuchpizza.net, it's as easy as 
      %i pie.

